<p id="notice"><%= notice %></p>

<h1>リストページ</h1>

<table class="outcome"　border="1" >
	<thead>
		<tr>
			<h2>支出</h2>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>金額</th>
			<th>カテゴリ</th>
			<th>メモ</th>
		</tr>
		<% @lists.each do |list| %>
		<tr>
			<td><%= list.sum %></td>
			<td><%= list.category.name %></td>
			<td><%= list.memo %></td>
			<td><%= link_to '編集' ,edit_list_path(list) %></td>
			<td><%= link_to '削除' , list, method: :delete, data: {confilm: 'このリストを削除しても良いですか？'} %></td>
		</tr>
		<tr>
			<td>支出合計</td>
			
		</tr>
		<% end %>
	</tbody>
</table>
<table class="income">
	<thead>
		<tr>
			<th>収入合計</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			
		</tr>
	</tbody>
</table>

