<p id="notice"><%= notice %></p>
<p>
  <strong>金額:</strong>
  <%= @list.sum %>
</p>
<p>
  <strong>カテゴリ:</strong>
  <%= @list.category.name %>
</p>
<p>
  <strong>メモ:</strong>
  <%= @list.memo %>
</p>

<%= link_to '編集', edit_list_path(@list) %> 
<%= link_to '戻る', lists_path %>